.App {
  font-family: sans-serif;
  text-align: center;
}

/* Home */
.main-banner {
  background: url(https://bostonglobe-prod.cdn.arcpublishing.com/resizer/aexpSrzBWq7Uxh7eDKhURYHC-Vo=/1440x0/arc-anglerfish-arc2-prod-bostonglobe.s3.amazonaws.com/public/CT3VCBCJ5II6DM4QQY75UQKYRQ.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

.banner-header {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 4rem;
  color: #fff;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(-50%, 50%);
  position: absolute;
  top: 20%;
  left: 50%;
  width: 80%;
}

/* form */
.form-image {
  height: 550px;
  width: 100%;
  background-size: cover;
  margin-bottom: 40px;
}
